<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @piece.problem.name %>
</p>

<p>
  <b>Source:</b>
  <%= @piece.source %>
</p>

<p>
  <b>Comment:</b>
  <%= @piece.comment %>
</p>

<p>
  <b>Fingerprint:</b>
  <%= @piece.source_fingerprint %>
</p>

<p>
  <b>Result:</b>
  <%= @piece.result %>
</p>


<%= link_to 'Edit', edit_problem_piece_path(@problem, @piece) %> |
<%= link_to 'Back', problem_pieces_path(@problem) %>
