<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @piece.problem_id %>
</p>

<p>
  <b>File:</b>
  <%= @piece.file %>
</p>

<p>
  <b>Comment:</b>
  <%= @piece.comment %>
</p>

<p>
  <b>Fingerprint:</b>
  <%= @piece.file_fingerprint %>
</p>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
