<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @piece.problem_id %>
</p>

<p>
  <b>Source:</b>
  <%= @piece.source %>
</p>

<p>
  <b>Comment:</b>
  <%= @piece.comment %>
</p>

<p>
  <b>Fingerprint:</b>
  <%= @piece.source_fingerprint %>
</p>

<p>
  <b>Result:</b>
  <%= @piece.result %>
</p>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
